 <html>
	<body>
		<img src="$currentdir/templates/logo.gif" alt="logo" />
        <h3>Employee Details Report</h3>
		<p>Number of employees = $employees.size()</p>
		<br />
		<table border="1">
    		#foreach( $customer in $employees )
    			$customer
    		#end
		</table>
        <p>Call Today!</p>
	</body>
 </html>